<!doctype html>
<html lang="en">

<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link href="/css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    MYBLOG
                </div>
                <div class="menu">
                    <ul>
                        {{#if user}}
                        {{#if user.isAdmin}}
                        <li><a href="/logout">Logout</a>
                        <li><a href="/post/adminGetAllPosts">Get All Posts</a></li>
                        <li><b>{{user.username}}</b></li>
                        {{else}}
                        <li><a href="/post/createpost">Create Post</a></li>
                        <li><a href="/post/getPosts">Get All Posts</a></li>
                        <li><a href="/post/postGot">Get Your Post</a></li>
                        <li><a href="/logout">Logout</a>
                        <li><b>{{user.username}}</b></li>
                        {{/if}}
                        {{/if}}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">



            <div class="row">
                <div class="col-lg-8">
                    {{{body}}}
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu-icon").on("click", function () {
                $("nav ul").toggleClass("showing");
            });
        });
        $(window).on("scroll", function () {
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })
    </script>


</body>

</html>