<form action="/createpost" method="post">
    <div class="form-group">
        <label for="title">Post Title </label>
        <input type="text" class="form-control" id="postTitle" name="postTitle">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="writepost" name="writepost" rows="10"></textarea>
    </div>
    <button class="btn btn-success" type="submit">INSERT</button>
</form>