<div class="contact-form">
    <h2 class="page-header">Register</h2>
    <form method="POST" action="/register">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Your Name" name="name">

        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter Your Username" name="username">

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter Your Email" name="email">

        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter Your Password" name="password">

        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Enter Your Password" name="password2">

        </div>
        <div class="form-group">
            <label>Code</label>
            <input type="password" class="form-control" placeholder="Hi, Admin Please Enter Your Secreat Code" name="adminCode">
        </div>
        <button type="submit">Submit</button>
        <a href="/login">Login</a>

    </form>
</div>