<h2 class="page-header">Register</h2>
<form method="POST" action="/users/register">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Name" name="name">

    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Enter Your Username" name="username">

    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter Your Email" name="email">

    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Your Password" name="password">

    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="passwordmon" class="form-control" placeholder="Enter Your Password" name="password2">

    </div>
    <button type="submit" class="btn-default">Submit</button>
</form>