{{!-- <section class="delete">
    <h3>Delete Data</h3>
    <form action="post/deletePost" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section> --}}
<section class="update">
    <h3>Update Data</h3>
    <form action="/post/updatepost" method="post">
        {{!-- <div class="form-group">
            <label for="id22">ID</label>
            <input type="text" class="form-control" id="id22" name="id22">
        </div> --}}
        <input type="text" id="id" name="id">

        <div class="form-group">
            <label for="title">Post Title </label>
            <input type="text" class="form-control" id="postTitle" name="postTitle">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" id="writepost" name="writepost" rows="10"></textarea>
        </div>
        <br>
        <div>
        </div>
        <button class="btn btn-success btn-sm" type="submit">Update</button>
    </form>
</section>