<section class="get">
    <h3>Get All Posts</h3>
    <a href="/allpost">Get All Posts</a>
    <div>
        <br>
        {{# each myitems }}
        <article class="myitem">
            <div>Post Title: {{ this.postTitle }}</div>
            <div>Post Content: {{ this.writepost }}</div>
            <div><b>Posted By: {{Username}}</b></div>

            <br>
        </article>
        <br>
        {{/each}}
    </div>
</section>